<!doctype html>
<html lang="en">

<head></head>

<body>

    <!-- <body data-layout="horizontal"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">


        <!-- ========== 左侧边栏开始 ========== -->
        <!-- 左侧边栏结束 -->

        <!-- 右边页面设置 -->
        <div class="main-content">
            <div class="page-content">
                content
            </div>
        </div>
        <!-- END layout-wrapper -->

        <!-- 右边设置 -->

        <!-- Right Sidebar -->
        <!-- /Right-bar -->

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <footer></footer>
</body>

</html>