

        <!-- JAVASCRIPT -->
        <script src="/static/asserts/js/jquery.min.js"></script>
        <script src="/static/asserts/js/bootstrap.bundle.min.js"></script>
        <script src="/static/asserts/js/metisMenu.min.js"></script>
        <script src="/static/asserts/js/simplebar.min.js"></script>
        <script src="/static/asserts/js/waves.min.js"></script>
        <script src="/static/asserts/js/feather.min.js"></script>
        <!-- pace js -->
        <script src="/static/asserts/js/pace.min.js"></script>

        <!-- apexcharts -->
        <script src="/static/asserts/js/apexcharts.min.js"></script>

        <!-- Plugins js-->
        <script src="/static/asserts/js/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="/static/asserts/js/jquery-jvectormap-world-mill-en.js"></script>
        <!-- dashboard init -->
        <script src="/static/asserts/js/dashboard.init.js"></script>

        <script src="/static/asserts/js/app.js"></script>

    	